.red {
    width: 1250px;
    height: 100px;
    background: red;
}

.brown {
    width: 1000px;
    height: 400px;
    background: brown;
}

.silver {
    width: 250px;
    height: 400px;
    background: silver;
}

.flexStart {
    display: flex;
    justify-items: flex-start;
}

.standart {
    width: 1250px;
    height: 500px;
}


.father {
    width: 100%;
    height: 350px;
}

.son {
    width: 70%;
    height: 100%;

}

.daughter {
    width: 30%;
    height: 100%;
    background: pink;
}

.wife {
    width: 100%;
    height: 50%;
    background: coral;
}

.ex-wife {
    width: 33.3%;
    height: 100%;

}

.children {
    width: 100%;
    height: 100%;
}

.flexSpace {
    display: flex;
    justify-content: space-between;
}

.child {
    width: 33.3%;
    height: 49.5%;
    background: #002aff;
}

.lonChild {
    width: 100%;
    height: 49.5%;
    background: #ff0066;
}