.rikmorti {
    display: flex;
}

.rikmorti > img {
    height: 400px;
    width: 500px;
    border: 10px solid #53bf58;
    border-left: 10px solid #b3a313;
    border-right: 10px solid #b3a313;

}

h1 {

    width: 180px;
    margin-left: 50px;
    background: #36987c;
}


h3 {
    width: 100px;
    margin-left: 50px;
    background: #547e2b;
}

body {
    background: #00ff12;
}

.tab {
    background: #b3a313;
    width: 450px;

}

.center {

    margin-left: 30px;
    margin-right: 30px;
    width: 320px;
    height: 400px;

}

h2 {
    width: 150px;
    height: 50px;
    margin-left: 100px;
}