.sh1{
    margin: 1px;
}
hr{
    margin: 1px;
}

body{
    margin-left: 20px;
}
.tabl{
    height: 530px;
    width: 220px;
    background: #f8f9fa;
    border: 1px solid #a2a9b1;

}
div.tabl ol li{
    margin: 8px 0px 8px 0px;
}
.zerotop{
   margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.imagess{
    width: 150px;
    height: 150px;
    border: 1px solid #c8ccd1 ;

    box-sizing: border-box;
    margin-right: 5px;

}
.texts{
    width: 150px;
    height: 150px;

    padding: 3px;
    margin-right: 5px;
    box-sizing: border-box;

}